body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;  
}

.box {
    width: 400px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
    justify-items: center;
    align-items: center;
    
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 50px;
}

.box input[type = "text"]{
    border: 0;
    align-items: center;
    background: none;
    margin: 5px;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 300px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
} 

.box input[type = "text"]:focus,.box input[type = 'password']:focus{
border-color: #2ecc71;
    width:320px;
}

.box button {
    border: 0;
    background: none;
    margin: 20px;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box button:hover {
    background-color: #2ecc71;
    color: white;
}

.Heads {
    color: white;
    font-weight: 200;
}

.Result {
    color: white;
    font-weight: 200;
}